h1{
   color: black;
   background-color:yellow;
   font-weight: bold;
text-align: center;
text-decoration: underline;
text-transform: uppercase;
}
p{
font-size: 20px;
background-color:rgb(239, 239, 163);
font-style: italic;
font-family: Arial, Helvetica, sans-serif;
line-height:  1.5em;
}

.paragraph:first-letter{
    transform:capitalize ;
   font-weight: bold; 
}
p{
    text-shadow: 2px 2px 2px gray
 }
 button{
    color:white;
    background-color:green;
 }
 button:hover{
    color:blueviolet;
    background-color: aquamarine;
 }
 
